/* NEWSのテスト */
.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 21px;
  /* background-color: #ccc; */
}

.logo {
  padding: 10px 0 10px 30px;
}


nav {
  margin-left: auto;
  ;
}

nav ul {
  display: flex;
  /* ここのDFはulのボックスかかってる */

}

nav ul li{
  padding: 25px;

}

ul {
  padding: 0;
  list-style: none;
}

a {
   text-decoration: none;
}

/* ヘッダーここまで */

/* メインビジュアル */
.main-visual{
position: relative;
text-align: center;
 /* flex-wrap:  */
}

.main-visual img{
  width: 1200px;
  height: auto;
  text-align: block;
}

.main-copy{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 50px;
    font-weight: bold;

}
.sub_copy{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 35px;
    white-space: nowrap;
    /* ↑折り返しなし */
}


/* メインビジュアルここまで */

/* Aboutの作業 */
.about{
  /* background-color: #707070; */
  display: flex;
  text-align: center;
  padding: 60px;
  line-height: 30px;

}

.about_inner {
  /* background-color: aquamarine; */
  max-width: 1200px;
  margin: 0 auto;
}

.about_title{
  /* background-color: black; */
  color: red;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 30px;
 

}

.about_title_sub{
  font-size: 18px;
  /* background-color: blue; */
  margin-bottom: 60px;


}

.about_text{
  font-size: 16px;
  /* background-color: aqua; */
  margin-bottom: 80px;
  line-height: 1.75;

}

.about_Photo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
    }

.about_Photo img {
  width: 100%;
  height: auto;
    }


.course{
/* background-color: yellow; */
text-align: center;
font-weight: bold;
width: 100%;
margin:  0 auto;


}

.course_title{
  font-size: 24px;
  padding: 60px 0 30px 0;

}


.course_title_sub{
  font-size: 18px;
  padding-bottom: 60px;
  line-height: 1.75;
}

/* courseのボックスCSS */

.course_box1{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto ;      /* 画面中央寄せ＆下に余白 */
  /* background-color: aqua; */
  gap: 50px;
}

.course_box_inner_right{
  /* background-color: #707070; */
  padding: 120px 0 120px 0;
  width: 600px;

}

.course_box_inner_left{
  /* background-color: #707070; */
  padding: 120px 0 120px 0;
  width: 600px;

}
.course_box1_text{
  line-height: 1.1;
}
.course_box1_title{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
  width: 480px;

}


.course_box1 img {
  width: 600px;
  height: auto;
  display: block; /* 画像下の余白を消す */
}


.course_box2{
  display: flex;
  flex-direction: row-reverse; /* 画像を右側に配置 */
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto ;      /* 画面中央寄せ＆下に余白 */
  /* background-color: aqua; */
  gap: 50px;
}

.course_box2 img {
  width: 600px;
  height: auto;

}


.course_box3{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto ;      /* 画面中央寄せ＆下に余白 */
  /* background-color: aqua; */
  gap: 50px;
}

.course_box3 img {
  width: 600px;
  height: auto;
  display: block; /* 画像下の余白を消す */
}


/* NEWSのテスト */

.news{
  /* background-color: yellow; */
  text-align: center;
  padding: 60px;
  width: 100%;
  margin:  0 auto;

}

.news_title{
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 30px;
  line-height: 1.75;
  color: red;
}
.news_title_sub{
  font-size: 18px;
  line-height: 1.75;
}
.box{
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: aqua; */
}


.news-item{
    /* news itemのwidthは300に指定 */
    width: 300px;
    text-align: left;
}

.news-item img{
    width: 100%;
    height: auto;
}

.news-item-title{
  padding: 30px 0 30px 0;

}

.news-item-text{
  line-height: 1.3;
}
/* ホバーがかからないのは、指定が機能していないから？ */
/* イメージは空要素だから▶img :hoverになってた。スペース削除したら解消された。なぜ？*/
.news-item img:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}


.button-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin:60px auto;
    padding: .9em 2em;
    border: 10px solid #eca407;
    border-radius: 55px;
    background-color: #fff;
    color: #eca407;
    font-size: 18px;
}

/* このへんさっぱりわからん */
/* アクセスタイトル */
.access{
  text-align: center;
}

.access_title{
  font-size: 24px;
  font-weight: bold;
  padding: 60px 0 30px 0;
}

.access_title_sub{
  font-size: 18px;
  padding-bottom: 60px;
}
/* アクセスタイトル ここまで*/


/* マップ ここから*/
.map{
  margin: 0 auto;
  max-width: 1200px;
}

.map iframe{
  width: 100%;
  height: 350px;
}

/* マップ　ここまで */
/* テーブルここから */
.table{
  /* background-color: #eca407; */
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    line-height: 50px; 
    /* background-color: #ccc; */
    font-size: 16px;
    align-items: center;
    padding-top: 60px;
    
}

.row{
    display: flex;
    align-items: flex-start; 
    border-bottom: 1px;
    padding: 8px 0;

}

.cell{
    flex: 1;
    text-align: left;
    white-space: nowrap;
    width: 150px;

}

/* テーブルここまで */

/* コンタクトここから */ もう一度やる。

.contact-header{
  background-color: #eca407;
  font-size: 24px;
  display: flex;
  margin: 0 auto;
}

* {
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.contact {
    width: 960px;
    margin: 0 auto;
    padding: 60px 0;
}

.contact-ttl {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.contact-sub {
    font-size: 18px;
    margin-bottom: 60px;
    text-align: center;
}

.contact-ttl2 {
    font-size: 18px;
    margin-bottom: 70px;
    text-align: center;
}

.contact-table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.contact-item,
.contact-body {
    padding: 20px;
    border: 1px solid #ccc;
}

.contact-item {
    text-align: left;
    width: 30%;
    background-color: #eee;
    vertical-align: middle; 
    /* これを追加すると中央に移動した */


}

.contact-body {
    width: 70%;
}

.form-text {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 400px;
}

.contact-sex + .contact-sex {
    margin-left: 10px;
}

.contact-sex-txt {
    display: inline-block;
    margin-left: 5px;
}

.form-select {
    width: 180px;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-skill {
    display: block;
}

.contact-skill + .contact-skill {
    margin-top: 10px;
}

.contact-skill-txt {
    display: inline-block;
    margin-left: 5px;
}

.form-textarea {
    width: 100%;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.contact-submit {
    width: 250px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    padding: 15px;
    border-radius: 100vh;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}




/* コンタクトここまで */


 footer{
    background-color: #707070;
    color: white;
    line-height: 30px;
    text-align: center;
    padding: 30px;
    
    

 }