

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title{
    background-color: black;
    font-size: 100px;
    /* display: block; */
    text-align: center;
    color: aliceblue;
    padding: 20px;
    /* max-width: 1200px;親要素でOK */
    margin: 0 auto;
    color: brown;
}

@font-face {
  font-family: 'Hyakki85';
  src: url(..//fonts/Hyakki85_OTF/Hyakki85.otf) format('opentype');
}

body {
  font-family: 'Hyakki85', sans-serif;
}

.key-visual{
    display: flex;
    justify-content: center;
    /* margin: 0 auto;
    max-width: 1200px;ここは親でOK */
}

.container2{
    background-color: black;
    max-width: 1200px;
    margin:  0 auto;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}

.menu1{
    font-size: 24px;
    color: brown;
    display: flex;
    justify-content:center;
    align-items: center;
    /* padding-bottom: 30px; */

}
.menu1 img{
    width: 600px;
    height: auto;
   display: block; 
}

.menu2{
    font-size: 24px;
    color: brown;
    display: flex;
    justify-content:center;
    align-items: center;
    /* padding-bottom: 30px; */
    flex-direction: row-reverse;
    /* これでごまかした */

}
.menu2 img{
    width: 600px;
    height: auto;
   display: block; 
}

.menu3{
    font-size: 24px;
    color: brown;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-bottom: 30px;
}

.menu3 img{
    width: 600px;
    height: auto;
   display: block; 
}

.menu4{
    font-size: 24px;
    color: brown;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-bottom: 30px;
}

.menu-title{
    padding: 20px;
}

.container3{
    background-color: black;
    max-width: 1200px;
    margin:  0 auto;
    height: 2000px;
    /* display: flex ; */
    text-align: center;
    color: brown;
    
}



.container3-title{
    font-size: 50px;
    padding: 30px;
    line-height: 1.75;
    
}

a{
     text-decoration: none;
     color: brown;
}

.blink {
  animation: blinkAnim 1s step-start infinite;
  color:brown /* 点滅する文字色（任意） */
}

@keyframes blinkAnim {
  50% {
    opacity: 0;
  }
}

.footer{
    background-color: brown;
    color: black;
    line-height: 30px;
    text-align: center;
    padding: 30px;
    width: 1140px;
    margin:  0 auto;
}